{{define "content"}}
	<h2 class="ui massive header">
		<div class="content">
			<a class='title' href='/questions/{{.Data.Question.Key.Encode}}'>{{.Data.Question.Text}}</a>
			<div class='sub header'>asked by <a href='/users/{{.Data.Question.User.Key.Encode}}'><img class='ui tiny avatar image' src='{{.Data.Question.User.AvatarURL}}'> {{.Data.Question.User.Name}}</a>
			- {{.Data.Question.NiceCTime}}</div>
		</div>
	</h2>
	<div class='ui comments'>
		<div class='answer comment'>
			<a class='avatar'>
				<img src='{{.Data.Answer.User.AvatarURL}}'>
			</a>
			<div class='content'>
				<a href='/users/{{.Data.Answer.User.Key.Encode}}' class='author'>{{.Data.Answer.User.Name}}</a>
				<div class='metadata'>
					<div class='date'>{{.Data.Answer.NiceCTime}}</div>
					<div class='rating'>
						{{if .Data.Answer.PositiveScore}}
						<i class='thumbs up icon'></i>
						{{else}}
						<i class='thumbs down icon'></i>
						{{end}}
						<code>{{.Data.Answer.Score}}</code>
					</div>
				</div>
				<div class='text'>{{.Data.Answer.Answer}}</div>
				<div class='actions'>
					<a href='{{.Data.Answer.UpVoteURL}}'><i class='thumbs up icon'></i></a>
					<a href='{{.Data.Answer.DownVoteURL}}'><i class='thumbs down icon'></i></a>
				</div>
			</div>
		</div>
	</div>
	<div class='ui message'>
		<h3>Only showing 1 answer by <a href='/users/{{.Data.Answer.User.Key.Encode}}'>{{.Data.Answer.User.Name}}</a></h3>
		<a class='ui button' href='/questions/{{.Data.Question.Key.Encode}}'>See all answers</a>
	</div>
{{end}}