# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test

chapter1/chat/chat

chapter2/chat/chat

chapter3/chat/chat
chapter3/chat/avatars/*
chapter4/build/available

chapter4/build/synonyms

chapter4/build/tokenize

chapter4/synonyms/synonyms

chapter4/tokenize/tokenize

chapter4/available/available

chapter4/build/coolify

chapter4/build/domainify

chapter4/build/sprinkle

chapter4/coolify/coolify

chapter4/domainify/domainify

chapter4/sprinkle/sprinkle

chapter4/domainfinder/domainfinder

chapter4/domainfinder/lib/available

chapter4/domainfinder/lib/coolify

chapter4/domainfinder/lib/domainify

chapter4/domainfinder/lib/sprinkle

chapter4/domainfinder/lib/synonyms

chapter5/webpoll/cmd/webpoll

chapter5/webpoll/cmd/setup.sh

chapter5/webpoll/cmd/votes.json

chapter5/webpoll/cli/webpoll

chapter5/webpoll/cli/votes.json

chapter5/webpoll/cli/setup.sh

chapter5/counter/counter

*.dat

chapter5_old/webpoll/webpoll_to_nsq/setup.sh

chapter5_old/counter/counter

chapter5/poll/cmd/poll

chapter5/web/web

chapter5/twittervotes/twittervotes

chapter6/api/api

chapter5.zip

chapter7/meander/cmd/meanderapi

chapter7/meanderweb/meanderweb

chapter7.zip

chapter7/meander/cmd/meander
