{{define "content"}}
	<h2 class="ui massive header">
		<div class="content">
			{{.Data.Question.Text}}
			<div class='sub header'>asked by <a href='/users/{{.Data.Question.User.Key.Encode}}'>
				<img class='ui tiny avatar image' src='{{.Data.Question.User.AvatarURL}}'>
				{{.Data.Question.User.Name}}
			</a>
			- {{.Data.Question.NiceCTime}}</div>
		</div>
	</h2>
	<div class='ui comments'>
	{{range .Data.Answers}}
		<div class='answer comment'>
			<a class='avatar'>
				<img src='{{.User.AvatarURL}}'>
			</a>
			<div class='content'>
				<a href='/users/{{.User.Key.Encode}}' class='author'>{{.User.Name}}</a>
				<div class='metadata'>
					<a href='/answers/{{.Key.Encode}}' class='date'>{{.NiceCTime}}</a>
					<div class='rating'>
						{{if .PositiveScore}}
						<i class='thumbs up icon'></i>
						{{else}}
						<i class='thumbs down icon'></i>
						{{end}}
						<code>{{.Score}}</code>
					</div>
				</div>
				<div class='text'>{{.Answer}}</div>
				<div class='actions'>
					<a href='{{.UpVoteURL}}'><i class='thumbs up icon'></i></a>
					<a href='{{.DownVoteURL}}'><i class='thumbs down icon'></i></a>
				</div>
			</div>
		</div>
	{{end}}
	</div>
	<h3 class="ui dividing header">Submit an answer</h3>
	{{if .User}}
	<form method='post' class='ui big form'>
		<div class='field'>
			<textarea name='answer' rows='2' placeholder='Type your answer to: {{.Data.Question.Text}}'></textarea>
		</div>
		<input type='submit' class="ui primary submit button" value='Submit answer'>
	</form>
	{{else}}
	<div class='ui message'><a href='{{.LoginURL}}'>Log in</a> to submit an answer</div>
	{{end}}
{{end}}