.ui.container {
	max-width: 700px !important;
}

.topmenu.container {
	padding-top: 10px;
}

.ui.massive.header {
	font-size: 50px;
	text-align: center;
}
.ui.massive.header a.title {
	color: inherit;
}

.answer.comment .actions {
	visibility: hidden;
}
.answer.comment:hover .actions {
	visibility: visible;
}

.tiny.avatar.image {
	height: 1.2em;
	width: 1.2em;
	margin-left: 1px;
	margin-top: -2px;
	margin-right: -1px;
}

/*
	HACK: fix for weird avatar heights
*/
.ui.comments .comment .avatar img, .ui.comments .comment img.avatar {
	height: auto;
}
